<footer class="footer u-fontSizeSmaller u-fontWeightSemibold u-paddingTop20 {{#is "tag, author, post"}}u-backgroundWhite{{/is}}">
    <div class="u-container u-maxWidth1000">
        <div class="footer-wrap u-paddingBottom20 u-paddingTop20 u-textAlignCenter">
            <a href="https://bit.ly/simply-theme-ghost" target="_blank"><i class="i-github" style="font-size:18px"></i> I'm open source</a>
            — Hosting VPS <a href="https://goo.gl/EBT3A7" target="_blank">DIGITAL OCEAN</a> Free $10
        </div>
    </div>
</footer>
